<div>
    <!--div class="panel flex items-center overflow-x-auto whitespace-nowrap p-3 text-primary">
        <div class="rounded-full bg-primary p-1.5 text-white ring-2 ring-primary/30 ltr:mr-3 rtl:ml-3">
            <icon-bell />
        </div>
        <span class="ltr:mr-3 rtl:ml-3">Documentation: </span>
        <a href="https://www.npmjs.com/package/@bhplugin/ng-datatable" target="_blank" class="block hover:underline">
            https://www.npmjs.com/package/@bhplugin/ng-datatable
        </a>
    </div-->

    <div class="flex flex-wrap items-center justify-between gap-4">
        <h2 class="text-xl">Créer un nouveau test</h2>
        <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:items-center sm:gap-3">
            <div class="flex gap-3">
                <div>
                    <button type="button" class="btn btn-outline-primary">
                        <icon-eye class="ltr:mr-2 rtl:ml-2" />
                        Visualiser test
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="submitForm()">
                        <icon-save class="ltr:mr-2 rtl:ml-2" />
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Styles -->
    <div class="panel mt-6">
        <div class="flex rounded-t-md bg-danger-light p-6" *ngIf="validationError.length>0">
            <div class="flex-1 ltr:mr-4 rtl:ml-4">
                <p class="media-text text-danger">
                    {{validationError}}
                </p>
            </div>
        </div>

        <div class="mb-5 flex items-center justify-between">
            <h5 class="text-lg font-semibold dark:text-white-light">Informations sur le test</h5>
        </div>
        <div class="mb-5">
            <form class="space-y-5" [formGroup]="formCreateTest" (ngSubmit)="submitForm()" novalidate>
                <div class="grid grid-cols-1 gap-5 md:grid-cols-*">
                    <div [ngClass]="isSubmitForm ? formCreateTest.controls['testName'].errors ? 'has-error' : 'has-success' : ''">
                        <label for="customTestName">Nom du test <sup class="text-danger" >*</sup></label>
                        <input id="customTestName" type="text" placeholder="Nom du test" class="form-input" formControlName="testName" [value]="editQcm?.title"/>
                        <ng-container *ngIf="isSubmitForm && formCreateTest.controls['testName'].errors">
                            <p class="mt-1 text-danger">Veuillez remplir le nom du test</p>
                        </ng-container>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 md:grid-cols-2">
                    <div [ngClass]="isSubmitForm ? formCreateTest.controls['module'].errors ? 'has-error' : 'has-success' : ''">
                        <label>Classe - Filière <sup class="text-danger" >*</sup></label>
                                               <select class="form-select text-white-dark" formControlName="module">
                            <option *ngFor="let level of levels$ | async" [value]="level.id">{{level.classOfStudy+" - "+level.fieldOfStudy}}</option>
                        </select>
                        <ng-container *ngIf="isSubmitForm && formCreateTest.controls['module'].errors">
                            <p class="mt-1 text-danger">Veuillez remplir la classe et la filière</p>
                        </ng-container>
                    </div>
                    <div [ngClass]="isSubmitForm ? formCreateTest.controls['moduleClass'].errors ? 'has-error' : 'has-success' : ''">
                        <label>Complexité</label>
                        <select class="form-select text-white-dark" formControlName="complexity">
                            <option *ngFor="let complexity of complexities" [value]="complexity">{{complexity}}</option>
                        </select>
                        <ng-container *ngIf="isSubmitForm && formCreateTest.controls['moduleClass'].errors">
                            <p class="mt-1 text-danger">Veuillez remplir le Classe</p>
                        </ng-container>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 md:grid-cols-2">
                    <div [ngClass]="isSubmitForm ? formCreateTest.controls['date1'].errors ? 'has-error' : 'has-success' : ''">
                        <label>Date début</label>
                        <!--input id="customeState" type="text" placeholder="Enter State" class="form-input" formControlName="state" /-->
                        <div class="mb-5">
                            <!--form [formGroup]="form1"-->
                                <ng2-flatpickr [config]="basic" formControlName="date1" addClass="form-input" ></ng2-flatpickr>
                            <!--/form-->
                        </div>
                        <ng-container *ngIf="isSubmitForm && formCreateTest.controls['date1'].errors">
                            <p class="mt-1 text-danger">Veuillez indiquer une date valide</p>
                        </ng-container>
                    </div>
                    <div [ngClass]="isSubmitForm ? formCreateTest.controls['date2'].errors ? 'has-error' : 'has-success' : ''">
                        <label>Date fin</label>
                        <!--input id="customeZip" type="text" placeholder="Enter Zip" class="form-input" formControlName="zip" /-->
                        <div class="mb-5">
                            <!--form [formGroup]="form1"-->
                                <ng2-flatpickr [config]="basic" formControlName="date2" addClass="form-input"></ng2-flatpickr>
                            <!--/form-->
                        </div>
                        <ng-container *ngIf="isSubmitForm && formCreateTest.controls['date2'].errors">
                            <p class="mt-1 text-danger">Veuillez indiquer une date valide</p>
                        </ng-container>
                    </div>
                </div>
                <div class="mb-5">
                    <p>Sentez-vous libre d'ajouter des instructions supplémentaires sur ce QCM</p>
                </div>
                <div class="mt-6 mb-5">
                    <textarea
                        id="details"
                        name="details"
                        rows="3"
                        class="form-textarea min-h-[130px]"
                        placeholder="Veuillez créer les questions du test."
                        formControlName="details"
                        [value]="editQcm?.details"
                    ></textarea>
                </div>
                <div class="mt-4 grid grid-cols-1">
                    <label class="inline-flex items-center">
                        <input type="checkbox" formControlName="canShowResultToStudents" class="form-checkbox text-primary">
                        <span class="ml-2">Les étudiants peuvent voir leur résultats de ce test</span>
                    </label>
                </div>
            </form>
        </div>

        <div class="mb-5 flex items-center justify-between">
            <h5 class="text-lg font-semibold dark:text-white-light">Ordre des questions</h5>
        </div>
        <div class="mb-5">
            <p>Choisissez l'ordre dans lequel les questions apparaîtront dans le test</p>
        </div>
        <div class="mb-5">
            <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
                <div class="mb-5 flex">
                    <div class="ltr:mr-4 rtl:ml-4">
                        <input type="radio" class="form-radio mt-1.5" name="radio" [(ngModel)]="isRandomActive" value="false" />
                    </div>
                    <div class="flex-1">
                        <h4 class="text-lg font-semibold text-primary">Comme saisi</h4>
                        <p class="media-text">
                            Conserver l'ordre des questions telles qu'elles sont entrées (Lorsque cette option est activée, tous les étudiants verront les questions du QCM dans le même ordre).
                        </p>
                    </div>
                </div>
                <div class="flex">
                    <div class="ltr:mr-4 rtl:ml-4">
                        <input type="radio" class="form-radio mt-1.5" name="radio"  [(ngModel)]="isRandomActive" value="true" />
                    </div>
                    <div class="flex-1">
                        <h4 class="text-lg font-semibold text-primary">Aléatoire</h4>
                        <p class="media-text">
                            Mélange aléatoirement l'ordre des questions dans le test. (Lorsque cette option est activée, les étudiants ne verront pas les questions du QCM dans le même ordre)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-6">
        <div class="mb-5 flex items-center justify-between">
            <h5 class="text-lg font-semibold dark:text-white-light">Liste de questions</h5>
        </div>
        <div class="mb-5">
            <p>Veuillez créer les questions du test. Peu importe le nombre total des questions créées, vous pouvez attribuer un total de 100 points.</p>
        </div>

        <div class="flex rounded-t-md bg-primary-light p-6">
            <div class="flex-1 ltr:mr-4 rtl:ml-4">
                <h4 class="font-semibold text-lg mb-2 text-primary">Règles de redaction des questions</h4>
                <p class="media-text">
                    1. Question à choix unique: Utilisez (x) pour la réponse correcte et () pour les réponses incorrectes
                </p>
                <p class="media-text">
                    2. Question à choix multiple: Utilisez [x] pour chaque réponse correcte et [] pour les réponses incorrectes
                </p>
                <p class="media-text">
                    3. Question ouverte: Utilisez R= suivi de la réponse correcte
                </p>
                <p class="media-text">
                    4. Ajoutez simplement (x pt) à la fin de chaque question pour indiquer le nombre de points associé à cette question
                </p>
            </div>
            <div class="flex rounded-t-md bg-danger-light p-6" *ngIf="validationError.length>0">
                <div class="flex-1 ltr:mr-4 rtl:ml-4">
                    <p class="media-text text-danger">
                        {{validationError}}
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-6 mb-5">
            <!--quill-editor [modules]="modules1" placeholder="" [(ngModel)]="content1"></quill-editor-->
            <textarea
                id="description"
                name="description"
                rows="20"
                class="form-textarea min-h-[130px]"
                placeholder="Veuillez créer les questions du test."
                [(ngModel)]="questions"
                [value]="editQcm?.content"
            ></textarea>
        </div>

    </div>


</div>
