<div>
    <div class="flex flex-wrap items-center justify-between gap-4">
        <h2 class="text-xl">Mes tests</h2>
        <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:items-center sm:gap-3">
            <div class="flex gap-3">
                <!--div>
                    <button type="button" class="btn btn-outline-primary">Exporter un test</button>
                </div-->
                <div>
                    <button type="button" class="btn btn-outline-primary" (click)="openImportPanel()">
                        Importer un test
                    </button>
                </div>
                <div>
                    <button [routerLink]="['/create-test']" type="button" class="btn btn-primary">
                        <icon-plus class="ltr:mr-2 rtl:ml-2" />
                        Créer un nouveau test
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel mt-6 pb-0" *ngIf="isVisibleImportPanel">
        <h5 class="mb-5 text-lg font-semibold dark:text-white-light">Importer un test</h5>
        <form [formGroup]="params" (submit)="import()" class="text-sm">
            <div class="mb-5">
                <label>Type</label>
                <div class="grid mt-5 grid-cols-1 gap-5 md:grid-cols-2">
                    <div>
                        <label class="flex items-center cursor-pointer">
                            <input type="radio" name="type" class="form-radio" formControlName="type" [value]="false" checked />
                            <span class="text-primary">Nouvelle création</span>
                        </label>
                    </div>
                    <div>
                        <label class="flex items-center cursor-pointer">
                            <input type="radio" name="type" class="form-radio" formControlName="type" [value]="true"/>
                            <span class="text-primary">Modification</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid mt-5 grid-cols-1 gap-5 md:grid-cols-2">
                <!--div class="mb-5">
                    <label for="name">Module</label>
                    <select id="name" class="form-select" formControlName="user">
                        <option value="">Select Module</option>
                        <option value="Max Smith">Max Smith</option>
                        <option value="John Doe">John Doe</option>
                        <option value="Kia Jain">Kia Jain</option>
                    </select>
                </div-->
                <div class="mb-5">
                    <label for="module">Module</label>
                    <select id="module" class="form-select" formControlName="module">
                        <option value="">Select Module</option>
                        <ng-container *ngFor="let module of listOfClassesArray">
                            <option value="{{ module }}">{{ module }}</option>
                        </ng-container>
                    </select>
                </div>
                <!--div class="mb-5">
                    <label for="tag">Classe</label>
                    <select id="tag" class="form-select" formControlName="tag">
                        <option value="">Select Classe</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="social">Social</option>
                        <option value="important">Important</option>
                    </select>
                </div-->
                <div class="mb-5">
                    <label for="field">Classe</label>
                    <select id="field" class="form-select" formControlName="field">
                        <option value="">Select Classe</option>
                        <ng-container *ngFor="let field of listOfFieldsArray">
                            <option value="{{ field }}">{{ field }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div *ngIf="params.get('type')?.value" class="mb-5">
                <!--label for="qcm">QCM</label>
                <select id="qcm" class="form-select" formControlName="tag">
                    <option value="">Select QCM</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="social">Social</option>
                    <option value="important">Important</option>
                </select-->
                <label for="qcm">QCM</label>
                <select id="qcm" class="form-select" formControlName="qcm">
                    <option value="">Select QCM</option>
                    <ng-container *ngFor="let qcm of listOfTests">
                        <option value="{{ qcm.id }}">{{ qcm.title }}</option>
                    </ng-container>
                </select>
            </div>
            <div>
                <label for="jsonFile">JSON File</label>
                <input id="jsonFile"
                       type="file"
                       class="form-input file:py-2 file:px-4 file:border-0 file:font-semibold p-0 file:bg-primary/90 ltr:file:mr-5 rtl:file:ml-5 file:text-white file:hover:bg-primary"
                       (change)="onFileSelected()"
                       required />
            </div>
            <div class="mt-8 flex items-center justify-end">
                <button type="button" class="btn btn-outline-danger gap-2 mb-5" (click)="closeImportPanel()">Cancel</button>
                <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4 mb-5">Importer</button>
            </div>
        </form>
    </div>

    <div class="panel mt-6 pb-0">
        <h5 class="mb-5 text-lg font-semibold dark:text-white-light">La liste des tests crées</h5>
        <div class="datatable">
            <ng-datatable
                [rows]="listOfTests"
                [columns]="cols"
                [columnFilter]="true"
                skin="whitespace-nowrap table-hover"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            >
                <ng-template slot="title" let-value="data">
                  <span class="text-primary min-w-[400px]">
                    <a [routerLink]="['/statistics/qcm', value.id]">{{ value.title }}</a>
                  </span>
                </ng-template>

                <ng-template slot="module" let-value="data">
                  <span class="text-primary min-w-[400px]">
                    {{ value.level.classOfStudy + ' ' + value.level.fieldOfStudy}}
                  </span>
                </ng-template>

                <ng-template slot="totalQuestions" let-value="data">
                    <div class="flex items-center justify-center gap-4">
                        {{ getTotalQuestions(value) }}
                    </div>
                </ng-template>

                <ng-template slot="status" let-value="data">
                    <!--span class="badge" [ngClass]="[value.status == 'En cours' ? 'badge-outline-success' : 'badge-outline-info']"-->
                    <span class="badge" [ngClass]="[getStatus(value) == 'En cours' ? 'badge-outline-success' : (getStatus(value) == 'Clôturé' ? 'badge-outline-info' : 'badge-outline-danger')]">
                        {{ getStatus(value) }}
                    </span>
                </ng-template>



                <ng-template slot="openStartDate" let-value="data"> {{ formatDate(value.openStartDate) }} </ng-template>

                <ng-template slot="closeStartDate" let-value="data"> {{ formatDate(value.closeStartDate) }} </ng-template>

                <ng-template slot="actions" let-value="data">
                    <div class="flex items-center justify-center gap-4">
                        <button type="button" class="btn btn-outline-secondary" (click)="exportQcm(value.id)">Exporter</button>
                        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/create-test']">Modifier</button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteConfirmModal(value.id)">
                            <icon-trash />
                        </button>
                    </div>
                </ng-template>

            </ng-datatable>
        </div>
    </div>

    <!--modal #isAddNoteModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">Importer un test</div>
        </ng-template>
        <ng-template #modalBody>
            <form [formGroup]="params" (submit)="importer()" class="text-sm">
                <div class="mb-5">
                    <label>Type</label>
                    <div class="grid mt-5 grid-cols-1 gap-5 md:grid-cols-2">
                        <div>
                            <label class="flex items-center cursor-pointer">
                                <input type="radio" name="type" class="form-radio" formControlName="type" [value]="false" checked />
                                <span class="text-primary">Nouvelle création</span>
                            </label>
                        </div>
                        <div>
                            <label class="flex items-center cursor-pointer">
                                <input type="radio" name="type" class="form-radio" formControlName="type" [value]="true"/>
                                <span class="text-primary">Modification</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="name">Module</label>
                    <select id="name" class="form-select" formControlName="user">
                        <option value="">Select Module</option>
                        <option value="Max Smith">Max Smith</option>
                        <option value="John Doe">John Doe</option>
                        <option value="Kia Jain">Kia Jain</option>
                    </select>
                </div>
                <div class="mb-5">
                    <label for="tag">Classe</label>
                    <select id="tag" class="form-select" formControlName="tag">
                        <option value="">Select Classe</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="social">Social</option>
                        <option value="important">Important</option>
                    </select>
                </div>
                <div *ngIf="params.get('type')?.value" class="mb-5">
                    <label for="qcm">QCM</label>
                    <select id="qcm" class="form-select" formControlName="tag">
                        <option value="">Select QCM</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="social">Social</option>
                        <option value="important">Important</option>
                    </select>
                </div>
                <div>
                    <label for="ctnFile">JSON File</label>
                    <input id="ctnFile" type="file" class="form-input file:py-2 file:px-4 file:border-0 file:font-semibold p-0 file:bg-primary/90 ltr:file:mr-5 rtl:file:ml-5 file:text-white file:hover:bg-primary" required />
                </div>
                <div class="mt-8 flex items-center justify-end">
                    <button type="button" class="btn btn-outline-danger gap-2" (click)="isAddNoteModal.close()">Cancel</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Importer</button>
                </div>
            </form>
        </ng-template>
    </modal-->

    <!-- delete event modal -->
    <modal #isDeleteModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">Delete Qcm</div>
        </ng-template>
        <ng-template #modalBody>
            <div class="text-center">
                <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                    <icon-trash-lines />
                </div>
                <div class="mx-auto mt-5 text-base sm:w-3/4">Are you sure that you want to delete this QCM ?</div>

                <div class="mt-8 flex items-center justify-center">
                    <button type="button" class="btn btn-outline-danger" (click)="isDeleteModal.close()">Cancel</button>
                    <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="deleteRows()">Delete</button>
                </div>
            </div>
        </ng-template>
    </modal>

</div>
